<div class="container-fluid">
	<div class="alert alert-danger" role="alert" style="background: red;"> 
			<p style="font-weight: bold; color: black; font-size: medium"><%= message %></p>
			<p style="font-weight: bold; color: black; font-size: medium"><%= err == null ? "" : err %></p>
	</div>
</div>
