<div class="title">
	<h2 class="form-signin-heading">Add country</h2>
</div>
<br/>

<form action="/countries/create" method="POST" class="form-signin">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<div id="newCountry">
				<div class="form-group col-sm-12">
					<label for="countryName">Name:</label>
					<input id="countryName" type="text" class="form-control" placeholder="Name of the new country" name="countryName" />
				</div>
			</div>
			<br/>
			<br/>

			<div class="form-group col-md-12 col-sm-12">
				<input type="submit" class="btn btn-sm btn-success" value="Create country" />
				<%- link_to_if(true, "Back", "/countries/index", {class: "btn btn-sm btn-primary"}) %>
			</div>
		</div>
	</div>
	<input id="csrf" type="hidden" name="_csrf" value="<%= _csrf %>" />

</form>