<div class="title">
	<h2 class="form-signin-heading">Create an account</h2>
</div>

<form action="/admin/staff/create" method="POST" class="form-signin form_left_margin">
	
	<br/>

	<table>
		<tr>
			<td class="td_spacing"><input type="text" class="form-control" placeholder="First Name" name="firstName" /></td>
		</tr>
		<tr>
			<td class="td_spacing"><input type="text" class="form-control" placeholder="Last Name" name="lastName" /></td>
		</tr>		
		<tr>
			<td class="td_spacing"><input type="text" class="form-control" placeholder="Email" name="email" /></td>			
		</tr>
		<tr>
			<td class="td_spacing"><input id="password" type="password" class="form-control" placeholder="Password" name="password" /></td>			
		</tr>
		<tr>
			<td class="td_spacing"><input type="password" class="form-control" placeholder="Password confirmation" name="passwordConfirmation" /></td>			
		</tr>		
		<tr>
			<td class="td_spacing text-center">
				<input type="submit" class="btn btn-sm btn-success" value="Create user" />
			</td>
		</tr>
	</table>
	
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />

</form>