.title {
	margin-left: 2em;
}

.form_left_margin {
	margin-left: 4em;
}

.td_spacing {
	padding-bottom: 0.5em;
}

/* STAY DOWN MDFKR!! */
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px; /* Height of the footer */
	background: darkgreen;
	padding-top: 0.5em;
}

.btn-img {
	height: 30px;
	width: 30px;
}
